{% load static %}

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Valle del Tiétar (Cáceres - España)</h2>
                <h3>Hortícolas Reipra S.L.</h3>
                <p>Polígono Industrial Campo Arañuelo, Calle A, parcela I</p>
                <p>10300 - Navalmoral de la Mata (Cáceres)</p>
                <p>Teléfono: 659166759</p>
                <p>CIF B-10.498.053</p>
                <p>R.G.S.A. 21.17218/CC</p>
                <p class="copyright">Imágen header <a href="https://pixabay.com/es/service/license/">Pixabay License</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- Fin del footer -->