{% extends 'base.html' %}
{% load static %}


{% block header %}
    <!-- Cabecera -->
    <header class="intro-header">
        
        {% include 'navbar.html' %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Reina del Tiétar</h1>                
                        <h3>Espárrago verde</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Fin cabecera -->
{% endblock header %}
    



{% block main %}
        
        <section class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Quienes somos</h2>
                        <p class="lead">Somos una empresa familiar bajo el nombre de <strong>Reipra</strong>. Nacemos gracias a nuestro amor por el trabajo bien hecho, con el fin de ver producir en nuestras tierras, un producto de calidad</p>
                        <p class="lead">Las condiciones de climatología y situación, propia y exclusiva del <strong>Valle del Tiétar</strong>, hace que nuestro producto, sea distinguido en el mercado, por su sabor y calidad</p>
                        <p class="lead">Estamos presentes en multitud de restaunates, fruterías y mercados nacionales, como Merca-Madrid</p>
                        <p class="lead">Nuestro modelo de producción, es una combinación de agricultura tradicional y mejora tecnológica contínua, apostando siempre por el medio rural y por la tierra como medio de vida</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive img-rounded" src="{% static 'img/esparragos-caja.jpeg' %}" alt="Caja de esparragos">
                    </div>
                </div>
            </div>
        </section>
    
        <section class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Pasión por la calidad</h2>
                        <p class="lead">Más de 40 años, trabajando para ofrecer los mejores productos y servicios!</p>
                        <p class="lead"><strong>Conviene resaltar que nuestra producción de espárragos puede llegar al consumidor a las 24 horas de haber sido recolectado, totalmente frescos, libres de intermediarios y a precios inmejorables.</strong></p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive img-rounded" src="{% static 'img/esparragos5.jpg' %}" alt="Manojo de esparragos">
                    </div>
                </div>
            </div>
        </section>

        <section class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3">
                        <div class="clearfix"></div>
                        <h2 class="section-heading text-center">Producción artesanal</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card text-center">
                            <img class="card-img-top img-rounded" src="{% static 'img/campo300x225.jpg' %}" alt="Campo de esparragos">
                            <div class="card-body">
                                <h3 class="card-title">Campo</h3>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card text-center">
                            <img class="card-img-top img-rounded" src="{% static 'img/caja-esparragos300x225.jpg' %}" alt="Recogida de esparragos">
                            <div class="card-body">
                                <h3 class="card-title">Recogida</h3>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi /p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card text-center">
                            <img class="card-img-top img-rounded" src="{% static 'img/esparragos300x225.jpg' %}" alt="Paquete de esparragos">
                            <div class="card-body">
                                <h3 class="card-title">Producto</h3>
                                <p class="card-text">Nuestro producto, es seleccionado como primera categoría y calibre 8/10
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-success">Saber más!</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Formulario de contacto -->
        <!-- <section class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3">
                        <h2>Formulario de contacto</h2>
                        <h3>Escríbanos y nos pondremos en contacto con usted</h3>
                        <form action="{% url 'peticion' %}" method="post" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="telefono">Teléfono</label>
                                <input type="tel" class="form-control" name="telefono" id="telefono" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <label for="texto">Texto</label>
                                <textarea name="texto" class="form-control" id="texto" rows="5" placeholder="Comentario"></textarea>
                            </div>
                            <div class="checkbox">
                                <label>
                                <input type="checkbox" name="consentimiento" required>Antes de enviar tu información, lee y acepta la <a href="#collapseLey" data-toggle="collapse" aria-expanded="false" aria-controls="collapseLey">Información básica sobre la Ley de Protección de Datos</a>  
                                </label>
                                <div class="collapse panel-collapse" id="collapseLey" aria-labelledby="headingOne">
                                    <div class="panel-body collapse.in">
                                        <p>Hortícola Reipra te informa, que los datos de caracter temporal que proporciones rellenando el presente formulario, serán tratados de forma exclusiva por Hortícola Reipra, para el envío de información, promociones de productos y/o servicios. La legitimación, se realiza a través del consentimiento del interesado. El hecho de la no introducción de los datos que solicitamos en el presente formulario, podrá tener como consecuencia, que no podamos atender dicha solicitud. Podrás ejercer tus derechos de acceso, rectificación y supresión de los datos en <a href="mailto:supervisor@gmail.com">supervisor@gmail.com</a>. Puedes consultar la información adicional y detallada sobre la protección da datos en <a href="#">Política de privacidad</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>                     
                        </form>
                    </div>                   
                </div>
            </div>
        </section> -->
        <!-- Fin formulaio de contacto -->

    {% endblock main %}


