{% extends 'base.html' %}
{% load static %}


{% block header %}
    <header class="sub-header">
        
        {% include 'navbar.html' %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-message">
                        <h1>Reina del Tiétar</h1>                
                        <h3>Espárrago verde</h3>
                    </div>
                </div>
            </div>
        </div>

    </header>
{% endblock header %}


{% block main %}
<section class="content-section-a">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li class="active"><a href="#">Servicios</a></li>
            </ol>
        </div>
        <div class="row">
            <h2>Nuestros servicios</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">Nuestro compromiso es que la entrega, se realice en las 24 horas siguientes a la formalización del pedido</p>
                <p class="lead">Para ello, trabajamos con distintas agencias de transporte, tanto nacionales como internacionales, entre las que destacan, Seur, Tipsa y Envialia.</p>
                <p class="lead">Un reparto, del campo a la mesa</p>
            </div>
        </div>
    </div>
</section>
{% endblock main %}
    
